.nav {
  position: sticky;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  padding: 2rem;
  box-sizing: border-box;
  white-space: nowrap;
}

.logo {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logo-icon {
  font-size: 2.5rem;
  color: var(--ascent-secondary);
}

.nav-content {
  display: flex;
  gap: 3vw;
}

.nav-item {
  width: fit-content;
}

.nav-item-active {
  color: var(--ascent-secondary);
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.button {
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid #ffffff50;
}

.account {
  background-color: var(--ascent-primary);
  color: var(--bg);
  border-color: var(--bg);
}

.start {
  background-color: var(--ascent-secondary);
  color: var(--bg);
  border-color: var(--bg);
  padding: 0.5rem 1.5rem;
}

.how {
  border-color: #fff;
  padding: 0.5rem 1.5rem;
}

.overlap1 {
  background: url("https://images.meesho.com/images/products/139776826/o9kdd_256.webp");
  background-size: contain;
}
.overlap2 {
  position: relative;
  right: 1.9rem;
  background: url("https://www.ogdmart.com/attachments/shop_images/1596010638/Money_Plant_In_White_Pot.jpg");
  background-size: contain;
}
.overlap3 {
  position: relative;
  right: 3.9rem;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvn-0xt6qvSxOLtEcjij2t3miK1IG7Lnd1IhvgwNa-xikhehxOnf44bxSlMLzccP0BAvU&usqp=CAU");
  background-size: contain;
}

.master {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem 3rem 5rem;
  gap: 3rem;
  width: 60%;
  height: 80vh;
}

.title {
  font-size: 3rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.right {
  width: 40%;
  height: 80vh;
  /* background-color: #0b1022; */
}

.master-image {
  width: 100%;
}

@media (max-width: 768px) {
  .master {
    flex-direction: column;
    height: 100vh;
  }

  .left {
    width: 100%;
    height: 50vh;
    padding: 3rem 2rem 3rem 2rem;
  }

  .right {
    width: 100%;
    height: 50vh;
  }
}
